body{
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  /*margin: 0px;*/
}

/*Header section*/

header{
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  top: 0px;


}

.logo{
  height: 50px;
  padding-left: 10px;
}

nav a{
  padding: 0px 10px;
  color: white;
  text-decoration: underline;
}

/*Main section*/

main{
  width: 100%;
  margin: 0 auto;
}

/*Mission*/

.statement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
}

.missie{
  display: inline;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

h2{
  margin: 15px 0px;
}

h4{
  margin: 10px 0px;
}

/*Featured-tea*/

.tea{
  display: flex;
  width: 1000px;
}

.products{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;

}

.space{
  height: 200px;
  width: 300px;
  margin-left: 30px;
}

/*locations*/

.bkgr-img-loc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
}

.location3{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.loc{
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  height: 300px;
  margin: 0px 20px;
  opacity: 1;
}

/*contact*/

.contact{
  height: 200px;
}

/*footer*/

footer{
  text-align: left;
  padding-left: 20px;
}
